<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @mms_resource.filename %>
</p>

<%= link_to 'Edit', edit_mms_resource_path(@mms_resource) %> |
<%= link_to 'Back', mms_resources_path %>
